params.outdir="output"

params.trimmomatic_minlen="60"
params.spades_kmers="21,33,55"

/*
Configure from which step the real processes start. All outputs of the skipped
processes are expected to be where they would be when the scripts were run.
0: from start
1: after qc
2: after assemblies
3: after binning
*/
params.startfrom=0

/*
Specify the relevant config based on execution context
*/
profiles {
	standard {
		includeConfig 'config/rzcluster.config'
	}
}

trace {
	enabled = true
	file = 'LaMeta_processing_trace.txt'
	fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}
