// output directory
params.outdir="output"

/*
File with group information. Contains sample name (has to match the names parsed
by the input channel) and group membership separated by tab.
*/
params.groupfile="groupfile.txt"

// Threshold below which reads should be discarded after trimming
params.readminlen="60"

// k-mers for single-sample metagenome assembly with Spades
params.spades_kmers="21,33,55"

// minimum completeness for dRep (should not be lower than 50)
params.mincomp="50"

/*
Configure from which step the real processes start. All outputs of the skipped
processes are expected to be where they would be when the scripts were run.
0: from start
1: after qc
2: after assemblies
3: after binning
*/
params.startfrom=0

/*
Specify the relevant config based on execution context
*/
profiles {
	standard {
		includeConfig 'config/rzcluster.config'
	}
	lownum {
		includeConfig 'config/rzcluster_lownum.config'
	}
}

trace {
	enabled = true
	file = 'LaMeta_processing_trace.txt'
	fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}
