// List of parameters

params.host_index = "/work_ifs/ikmb_repository/references/LaMeta/bbmask_references/hg19/"

params.gtdb="/work_ifs/ikmb_repository/databases/GTDB-TK/release89/"

executor {
  name = "slurm"
  queueSize = 30
}


process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'all'
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}

params {
  max_memory = 250.GB
  max_cpus = 24
  max_time = 120.h
}

singularity {
	runOptions = "-B /work_ifs -B /work_ifs/ikmb_repository/databases/GTDB-TK/release89/:/refdata/"
	cacheDir = "/work_ifs/ikmb_repository/singularity_cache/"
}
