// List of parameters

params.host_index = "/ifs/data/nfs_share/sukmb276/references/bbmask_references/hg19/"

params.gtdb="/ifs/data/nfs_share/sukmb276/references/release86/"

executor {
  name = "slurm"
  queueSize = 30
}


process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 240.h
}

