// see http://seqanswers.com/forums/showthread.php?t=42552 for preparation

params.host_index = "/ifs/data/nfs_share/sukmb276/references/bbmask_references/hg19/"

params.gtdb="/ifs/data/nfs_share/sukmb276/references/release86"

executor {
  name = "slurm"
  queueSize = 30
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
}
