// List of parameters

params.host="/ifs/data/nfs_share/sukmb276/references/bbmask_references/hg19/"
params.adapters="/ifs/data/nfs_share/ikmb_repository/software/bbmap/37.88/resources/nextera.fa.gz"

// hmmpress the markers first
params.markers40hmm="/home/sukmb276/Isilon/software/MaxBin-2.2.4/bacar_marker.hmm"
params.markers107hmm="/home/sukmb276/Isilon/software/MaxBin-2.2.4/marker.hmm"

params.gtdb="/ifs/data/nfs_share/sukmb276/references/release86/"

executor {
  name = "slurm"
  queueSize = 30
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}
