// see http://seqanswers.com/forums/showthread.php?t=42552 for preparation

params.host_index = "/mnt/ld_ng_out/sukmb352/references/LaMeta/bbmap/hg19/"

params.gtdb="/mnt/ld_ng_out/sukmb352/references/LaMeta/release86/"

executor {
  name = "slurm"
  queueSize = 30
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'htc'
  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'


}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
}

singularity {
        runOptions = "-B /mnt -B /mnt/ld_ng_out/sukmb352/references/LaMeta/release86/:/refdata/"
        cacheDir = "/mnt/ld_ng_out/sukmb352/references/singularity_cache/"
}

