// List of parameters

params.templatedir="/home/sukmb276/Isilon/github/LaMeta/templates"

params.trimmomatic="/ifs/data/nfs_share/ikmb_repository/software/centos7/trimmomatic/0.36/trimmomatic-0.36.jar"
params.trimmomatic_adapters="/ifs/data/nfs_share/ikmb_repository/software/centos7/trimmomatic/0.36/adapters/NexteraPE-PE.fa"

params.bbmap="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbwrap.sh"
params.decon_hsref="/ifs/data/nfs_share/sukmb276/references/deconseq/hs_ref_GRCh38/"
params.decon_phixref="/ifs/data/nfs_share/sukmb276/references/deconseq/PhiX/"

params.megahit="/ifs/data/nfs_share/sukmb276/software/bin/megahit"

params.spades="/ifs/data/nfs_share/ikmb_repository/software/spades/3.9.0/bin/spades.py"

params.samtools="/ifs/data/nfs_share/ikmb_repository/software/centos7/samtools/1.5/bin/samtools"

params.jgisum="/ifs/data/nfs_share/sukmb276/software/metabat/metabat/jgi_summarize_bam_contig_depths"
params.metabat="/ifs/data/nfs_share/sukmb276/software/bin/metabat2"
params.maxbin="/ifs/data/nfs_share/sukmb276/software/MaxBin-2.2.4/run_MaxBin.pl"
params.checkm="/home/sukmb276/.pyenv/shims/checkm"
params.drep="/home/sukmb276//.pyenv/shims/dRep"

executor {
  name = "slurm"
  queueSize = 10
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  $runTrim {
        cpus = 5
        memory = { 60.GB * task.attempt }
  }

  $runDecon {
        cpus = 5
        memory = { 60.GB * task.attempt }
  }

  $runSpades {
        cpus = 20
        memory = { 120.GB * task.attempt }
  }

  $runSpadesBackmap {
        cpus = 5
        memory = { 60.GB * task.attempt }
  }

  $runCoAssembly {
      cpus = 20
      memory = 240.GB
  }

  $runCoassemblyBackmap {
      cpus = 5
      memory = { 60.GB * task.attempt }
  }

}
