// List of parameters

params.bbwrap="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbwrap.sh"
params.bbduk="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbduk.sh"
params.bbmerge="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbmerge.sh"

// see http://seqanswers.com/forums/showthread.php?t=42552 for preparation
params.hsref="/ifs/data/nfs_share/sukmb276/references/bbmask_references/hg19/"
params.adapters="/ifs/data/nfs_share/ikmb_repository/software/bbmap/37.88/resources/nextera.fa.gz"

params.megahit="/ifs/data/nfs_share/sukmb276/software/bin/megahit"

params.spades="/ifs/data/nfs_share/ikmb_repository/software/spades/3.9.0/bin/spades.py"

params.samtools="/ifs/data/nfs_share/ikmb_repository/software/centos7/samtools/1.5/bin/samtools"

params.jgisum="/ifs/data/nfs_share/sukmb276/software/metabat/metabat/jgi_summarize_bam_contig_depths"
params.metabat="/ifs/data/nfs_share/sukmb276/software/bin/metabat2"
params.maxbin="/ifs/data/nfs_share/sukmb276/software/MaxBin-2.2.4/run_MaxBin.pl"
params.checkm="/home/sukmb276/.pyenv/shims/checkm"
params.drep="/home/sukmb276//.pyenv/shims/dRep"

params.pyenv2="2.7.10"
params.pyenv3="3.5.1"

executor {
  name = "slurm"
  queueSize = 30
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  $runTrim {
        cpus = 4
        memory = { 15.GB * task.attempt }
  }

  $runDecon {
        cpus = 4
        memory = { 40.GB * task.attempt }
  }

  $runCoAssembly {
      cpus = 20
      memory = 240.GB
  }

  $runSpades {
        cpus = { 5 * task.attempt }
        memory = { 120.GB * task.attempt }
  }

  $runSpadesBackmap {
        cpus = 5
        memory = { 30.GB * task.attempt }
  }

  $runMaxbin {
        cpus = 5
        memory = { 60.GB * task.attempt }
  }

  $runCoassemblyBackmap {
      cpus = 5
      memory = { 30.GB * task.attempt }
  }

  $runCollapseBams {
      cpus = 1
      memory = { 12.GB * task.attempt }
  }

  $runMegahitMaxbin {
      cpus = 20
      memory = 240.GB
  }

  $runMegahitMetabat {
      cpus = 5
      memory = 12.GB
  }

  $runDrep {
      cpus = 20
      memory = 240.GB
  }
}
