// List of parameters

params.sickle = "/ifs/data/nfs_share/ikmb_repository/software/sickle/1.33/sickle"
params.vsearch = "/ifs/data/nfs_share/ikmb_repository/software/vsearch/2.4.3/bin/vsearch"
params.fastq_quality_filter = "/ifs/data/nfs_share/ikmb_repository/software/fastx/0.0.13/fastq_quality_filter"
params.fastq_to_fasta = "/ifs/data/nfs_share/ikmb_repository/software/fastx/0.0.13/fastq_to_fasta"
params.usearch = "/ifs/data/nfs_share/ikmb_repository/software/usearch/9.2.64/usearch"
params.fasomerecords = "/ifs/data/nfs_share/ikmb_repository/software/ucsc/2015-06/faSomeRecords"

params.chimeradb = "/ifs/data/nfs_share/ikmb_repository/references/16S_analysis/gold.fa"
params.sintaxdb = "/ifs/data/nfs_share/sukmb276/Microbiome/tools/sintaxref/rdp_16s_v16.udb "

executor {
  name = "slurm"
  queueSize = 100
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }  
  maxRetries = 3
  maxErrors = '-1'
  // Specific cluster parameters for each process


  $runSickle {
	module = [ "Sickle/1.33" ]
        time = { 15.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runVsearchMerge {
	module = [ "Vsearch/2.4.3" ]
        time = { 15.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runVsearchFilter {
	module = [ "Vsearch/2.4.3" ]
	time = { 15.m * task.attempt }
	memory = { 2.GB * task.attempt }
  }

  $runFastqQualityFilter {
	module = [ "Fastx/0.0.13" ]
	time = { 15.m * task.attempt }
	memory = { 2.GB * task.attempt }
  }

  $runFastqToFasta {
	module = [ "Fastx/0.0.13" ]
        time = { 5.m * task.attempt }
	memory = { 2.GB * task.attempt }
  }
  
  $runVsearchDerepSample {
        module = [ "Vsearch/2.4.3" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runMergeSamples {
	time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runVsearchDerep {
        module = [ "Vsearch/2.4.3" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runVsearchCluster {
        module = [ "Vsearch/2.4.3" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runVsearchRemoveChimeraRef {
        module = [ "Vsearch/2.4.3" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runVsearchRemoveChimeraDeNovo {
        module = [ "Vsearch/2.4.3" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }
  }

  $runBackmap {
        module = [ "Vsearch/2.4.3" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }

  }

  $runDeChimeSample {
        module = [ "UCSC/2015-06" ]
        time = { 10.m * task.attempt }
        memory = { 2.GB * task.attempt }

  }

  $runTaxonomyAssignment {
	module = [ "Usearch/9.2.64" ]
	time = { 15.m * task.attempt }
        memory = { 4.GB * task.attempt }
  }

  $runFilterTax {
	    module = [ "UCSC/2015-06" ]
        time = { 10.m * task.attempt }
        memory = { 4.GB * task.attempt }
  }
  
  $runRemoveChloroplasts {
	    module = [ "UCSC/2015-06" ]
        time = { 10.m * task.attempt }
        memory = { 4.GB * task.attempt }
  }


  $runSampleStats {
	    time = { 1.m * task.attempt }
        memory = { 1.GB * task.attempt }
  }
}
