// List of parameters

params.bbwrap="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbwrap.sh"
params.bbduk="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbduk.sh"
params.bbmerge="/ifs/data/nfs_share/ikmb_repository/software/centos7/bbmap/37.88/bbmerge.sh"

// see http://seqanswers.com/forums/showthread.php?t=42552 for preparation
params.hsref="/ifs/data/nfs_share/sukmb276/references/bbmask_references/hg19/"
params.adapters="/ifs/data/nfs_share/ikmb_repository/software/bbmap/37.88/resources/nextera.fa.gz"

params.megahit="/ifs/data/nfs_share/sukmb276/software/bin/megahit"

params.spades="/ifs/data/nfs_share/ikmb_repository/software/spades/3.9.0/bin/spades.py"

params.samtools="/ifs/data/nfs_share/ikmb_repository/software/centos7/samtools/1.5/bin/samtools"

params.jgisum="/ifs/data/nfs_share/sukmb276/software/metabat/metabat/jgi_summarize_bam_contig_depths"
params.metabat="/ifs/data/nfs_share/sukmb276/software/bin/metabat2"
params.maxbin="/ifs/data/nfs_share/sukmb276/software/MaxBin-2.2.4/run_MaxBin.pl"
params.prodigal="/ifs/data/nfs_share/ikmb_repository/software/prodigal/2.6.2/prodigal"
params.hmmsearch="/ifs/data/nfs_share/ikmb_repository/software/centos7/hmmer/3.1b2/bin/hmmsearch"
params.parallel="/ifs/data/nfs_share/sukmb276/software/bin/parallel"
// hmmpress the markers first
params.markers40hmm="/home/sukmb276/Isilon/software/MaxBin-2.2.4/bacar_marker.hmm"
params.markers107hmm="/home/sukmb276/Isilon/software/MaxBin-2.2.4/marker.hmm"

params.checkm="/home/sukmb276/.pyenv/shims/checkm"
params.drep="/home/sukmb276//.pyenv/shims/dRep"

params.pyenv2="2.7.10"
params.pyenv3="3.5.1"

executor {
  name = "slurm"
  queueSize = 20
}

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  $runQC {
  cpus = 10
  memory = 120.GB
  }

  $runCoAssembly {
  cpus = 20
  memory = 240.GB
  }

  $runSpades {
  cpus = 10
  memory = 120.GB
  }

  $runSpadesBackmap {
  cpus = 10
  memory = 120.GB
  }

  $runMaxbin {
  cpus = 10
  memory = 120.GB
  }

  $runMetabat {
  cpus = 10
  memory = 120.GB
  }

  $runCoassemblyBackmap {
  cpus = 10
  memory = 120.GB
  }

  $runCollapseBams {
  cpus = 10
  memory = 120.GB
  }

  $runMegahitMaxbin {
  cpus = 10
  memory = 120.GB
  }

  $runMegahitMetabat {
  cpus = 10
  memory = 120.GB
  }

  $runDrepGroups {
  cpus = 10
  memory = 120.GB
 }

 $runDrepAll {
 cpus = 20
 memory = 240.GB
 }

}
